{{>userHead}}

    <!-- Navigation -->
    <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo 
            <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a>-->

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <a class="navbar-brand logo-text" href="userafterlogin"><img src="/images/parKinglogo.png" width="200"
                    height="40" alt=""></a>

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                   
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#book">Book Now</a>
                    </li>


                </ul>
                <span class="nav-item">
                    <a class="btn-outline-sm" href="logoutuser">Logout</a>
                </span>

            </div>
            <!-- end of navbar-collapse -->
        </div>
        <!-- end of container -->
    </nav>
    <!-- end of navbar -->
    <!-- end of navigation -->




    <!-- Details 1 -->
    <div id="history" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2>Manage Your Parking Reservations</h2>
                        <p>View and manage your current parking reservations with ease. Keep track of your parking
                            schedule and enjoy a hassle-free parking experience.</p>
                        <a class="btn-solid-reg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">View History</a>
                    </div>
                    <!-- end of text-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src="/images/manage.png" alt="alternative">
                    </div>
                    <!-- end of image-container -->
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of basic-1 -->
    <!-- end of details 1 -->


    <!-- Details Modal -->
    <div id="staticBackdrop" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="col-lg-8">
                        <div class="image-container">
                            <img class="img-fluid" src="/images/img_avatar.png" alt="alternative" width="70px">
                        </div>
                        <!-- end of image-container -->
                    </div>
                    <!-- end of col -->
                    <div>

                        <h2>Welcome, {{user.fullName}}!</h2>

                        <!-- Display user's vehicle entries -->
                        {{#if userEntries.length}}
                        <div class="table-responsive">
                        <h3>Your Check In / Check Out History:</h3>
                        <table id="parkingLotsTable" class="table" style="display:block">
                            <thead class="center-align">
                                <tr>
                                    <th>S.No.</th>
                                    <th>Parking Lot Name</th>
                                    <th>Registration Number</th>
                                    <th>Parking Number</th>
                                    <th>CheckIn Time</th>
                                    <th>CheckOut Time</th>
                                    <th>Charges</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody class="center-align">
                                {{#each userEntries}}
                                <tr>
                                    <td>{{addOne @index}}</td>
                                    <td>{{this.parkinglotName}}</td>
                                    <td>{{this.registrationNumber}}</td>
                                    <td>{{this.parkingNumber}}</td>
                                    <td>{{formatDate this.inTime}}</td>
                                    <td>{{formatDate this.outTime}}</td>
                                    <td>{{this.totalCharge}}</td>
                                    <td>{{this.status}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{else}}
                        <p>No current bookings.</p>
                        </div>
                        {{/if}}

                        <!-- end of col -->
                  </div>

                    <!-- end of row -->
                </div>
                <!-- end of modal-content -->
            </div>
            <!-- end of modal-dialog -->
        </div>
    </div>
    </div>
        <!-- end of modal -->
        <!-- end of details modal -->


        <!-- Details 2 -->
        <div id="book" class="basic-2 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="image-container">
                            <img class="img-fluid" src="/images/checkAv.png" alt="alternative">
                        </div>
                        <!-- end of image-container -->
                    </div>
                    <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h2>Manage your time by locating the parking slots nearby you</h2>
                            <p>Reserve your parking spot in advance and make your parking experience hassle-free.</p>
                            <a href="slotBooking"><button type="button" class="btn-outline-reg">Book Slot</button></a>

                        </div>
                        <!-- end of text-container -->
                    </div>
                    <!-- end of col -->
                </div>
                <!-- end of row -->
            </div>
            <!-- end of container -->
        </div>
        <!-- end of basic-2 -->
        <!-- end of details 2 -->

        {{>userFooter}}