<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VPS</title>
	<link href="css1/bootstrap.min.css" rel="stylesheet">
	<link href="css1/font-awesome.min.css" rel="stylesheet">
	<link href="css1/datepicker3.css" rel="stylesheet">
	<link href="css1/styles.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">

</head>

<body>
	{{>adminNavbar}}

	{{>sidebar}}

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><em class="fa fa-home"></em></a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{parkinglotName}}</h1>
			</div>
		</div><!--/.row-->

		<div class="row justify-content-center">
			<!-- First Panel Container -->
			<div class="col-xs-12 col-md-6 col-lg-6" style="min-height: 200px;">
				<div class="panel panel-container">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="col-6 text-center"> <!-- Center content horizontally -->
								<em class="fa fa-xl fa-car color-blue" style="font-size:30px;"></em>
								<div class="large">{{totalCount}}</div>
								<div class="text-muted">Total Vehicles Parked</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-6" style="min-height: 200px;">
				<div class="panel panel-container">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="col-6 text-center"> <!-- Center content horizontally -->
								<em class="fa fa-xl fa-toggle-on color-orange" style="font-size:30px;"></em>
								<div class="large">{{inCount}}</div>
								<div class="text-muted">Vehicles IN</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Second Panel Container -->
			<div class="col-xs-12 col-md-6 col-lg-6" style="min-height: 200px;">
				<div class="panel panel-container">
					<div class="panel panel-orange panel-widget border-right">
						<div class="row no-padding">
							<div class="col-6 text-center"> <!-- Center content horizontally -->
								<em class="fa fa-xl fa-toggle-off color-teal" style="font-size:30px;"></em>
								<div class="large">{{outCount}}</div>
								<div class="text-muted">Vehicles OUT</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-6" style="min-height: 200px;">
				<div class="panel panel-container">
					<div class="panel panel-red panel-widget">
						<div class="row no-padding">
							<div class="col-6 text-center"> <!-- Center content horizontally -->
								<em class="fa fa-xl fa-clock-o color-red" style="font-size:30px;"></em>
								<div class="large">{{within24HoursCount}}</div>
								<div class="text-muted">Parking Done within 24 hrs</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</div>

	</div>

	</div>



	</div> <!--/.main-->



	<script src="js1/bootstrap.min.js"></script>

	<script src="js1/custom.js"></script>




</body>

</html>