{{>adminHead}}

    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row">

        </div><!--/.row-->
        <a href="../out-vehicles"><button class="btn btn-primary">Back</button></a>

        <div id="exampl">
            <table id="dom-jqry" class="table table-striped table-bordered">
                <tr>
                    <th colspan="4"><img style=" padding-bottom:10px;" src="/images/parKinglogo.png" width="200"
                            height="45" alt=""><span style=" font-size:22px; padding-left:200px;">Receipt</span></th>

                </tr>

                <tr>

                    <th>Registration Number</th>
                    <td>{{printDetail.registrationNumber}}</td>

                    <th>Vehicle Category</th>
                    <td>{{printDetail.vehicleCategory}} </td>
                </tr>

                <tr>
                    <th>Vehicle Company</th>
                    <td>
                        {{printDetail.vehicleCompanyname}}
                    </td>

                    <th>Parking Number</th>
                    <td>
                        {{printDetail.parkingNumber}}
                    </td>
                </tr>

                <tr>
                    <th>Owner Name</th>
                    <td>
                        {{printDetail.ownerName}}
                    </td>

                    <th>Owner Contact Number</th>
                    <td>
                        {{printDetail.ownerContactNumber}}
                    </td>
                </tr>

                <tr>
                    <th>Vehicle In-Time</th>
                    <td>
                        {{printDetail.inTime}}
                    </td>

                    <th>Total Charge</th>
                    <td>
                      &#8377  {{printDetail.totalCharge }} 
                </tr>

                <tr>
                    <th>Vehicle Out-Time</th>
                    <td>
                        {{printDetail.outTime}}
                    </td>
                    <th>Remarks</th>
                    <td colspan="3">
                        {{printDetail.remarks}}
                    </td>
                </tr>

                <tr>
                    <td colspan="4" style="text-align:center; cursor:pointer"><i class="fa fa-print fa-4x"
                            aria-hidden="true" OnClick="CallPrint(this.value)"></i></td>
                </tr>
            </table>


        </div>

        <script>
            function CallPrint(strid) {
                var prtContent = document.getElementById("exampl");
                var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
                WinPrint.document.write(prtContent.innerHTML);
                WinPrint.document.close();
                WinPrint.focus();
                WinPrint.print();
                WinPrint.close();
            }
        </script>



    </div> <!--/.main-->
    <div class="col-lg-2"></div>

    <script>
        window.onload = function () {
            var chart1 = document.getElementById("line-chart").getContext("2d");
            window.myLine = new Chart(chart1).Line(lineChartData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,.2)",
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleFontColor: "#c5c7cc"
            });
        };
    </script>


</body>

</html>